<div class="wrapper wrapper_padding clearfix menu_articles">
	<div class="row_posts">
		<div class="col-md-6">
			<h2 class="center">Creador</h2>
			<hr class="center">
			<% @users.each do |user| %>
				<% if (user.id != 3) %>
					<h3><%= link_to user.nickname, user %></h3>
					<p class="date"><%= user.name %></p>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-6">
			<h2 class="center">Liga</h2>
			<hr class="center">
			<% @categories.each do |category| %>
				<h3><%= link_to category.category, category %></h3>
			<% end %>
		</div>
	</div>
</div>